@CHARSET "UTF-8";

.modMailform-clr {
	clear: both;
}
.modMailform-loadAnimation {
	text-align: center;
	display: none;
}
.modMailform-final {
	display: none;
}
.modMailformCaptchaHolder {
	text-align: center;
}
.modMailformCaptchaHolder iframe {
	display: inline-block;
	width: 450px;
	height: 120px;
}
.modMailform-inputFluid {
	width: 100%;
}
.modMailform-writeUs .controls {
	padding-right: 15px;
}
.modMailform-right {
	text-align: right;
}